<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Unión de Ornitólogos de Chile{% endblock %}</title>
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Base.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body class="body">

    <header class="header-base">
        <a href="{{ url_for('portada') }}" class="btn-volver">&larr; Volver a la Portada</a>
    </header>

    <h1 class="titulo">Unión de Ornitólogos de Chile</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>