{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada - Unión de Ornitólogos de Chile</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/portada.css') }}">

<nav class="menu-principal">
    <a href="{{ url_for('portada') }}">Inicio</a> | 
    <a href="{{ url_for('registrar_voluntario') }}">Registrar voluntario</a> | 
    <a href="{{ url_for('registrar_avistamiento') }}">Informar Avistamiento</a> | 
    <a href="{{ url_for('listado_avistamientos') }}">Listado de Avistamientos</a> | 
    <a href="#">Estadísticas</a>
</nav>

<p class="titulo">Bienvenido al Portal de Registro de Avistamientos para ornitólogos</p>

<h1>Últimos 2 avistamientos agregados</h1>
<div class="ultimos-avistamientos">
    {% if ultimos_avistamientos %}
        {% for a in ultimos_avistamientos %}
            <div class="avistamiento-item margen">
                <p><strong>Ave:</strong> {{ a.ave.nombre if a.ave else 'Desconocida' }}</p>
                <p><strong>Lugar:</strong> {{ a.lugar }}</p>
                <p><strong>Descripción:</strong> {{ a.descripcion}}</p>
                <p><strong>Fecha:</strong> {{ a.fecha_hora.strftime('%d/%m/%Y %H:%M') if a.fecha_hora else '' }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No hay avistamientos registrados aún.</p>
    {% endif %}
</div>
{% endblock %}