{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Voluntarios.css') }}">

<p class="titulo">Registro de voluntarios</p>

<form class="margen" id="form-registro" action="{{ url_for('registrar_voluntario') }}" method="POST">
  <div>
    <label class="form-label" for="nombre">(*)Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" value="{{ request.form.get('nombre', '') }}">
    <span class="error" id="error-nombre">Debe ingresar un nombre (mínimo 3 caracteres).</span>
  </div>
<br>
  <div>
    <label class="form-label" for="numero">(*)Número de Teléfono (8 dígitos):</label><br>
    <span>+56 </span>
    <input type="text" id="numero" name="numero" value="{{ request.form.get('numero', '') }}">
    <span class="error" id="error-numero">Debe ingresar solamente números.</span>
  </div>
<br>
  <div>
    <label class="form-label" for="correo">(*)Correo Electrónico:</label><br>
    <input type="text" id="correo" name="correo" value="{{ request.form.get('correo', '') }}">
    <span class="error" id="error-correo">Debe ingresar un correo válido.</span>
  </div>
<br>
  <div>
    <label class="form-label" for="region_id">(*)Región:</label><br>
    <select id="region_id" name="region_id">
        <option value="">-- Seleccione --</option>
        {% for reg in regiones %}
            <option value="{{ reg.id }}">{{ reg.nombre }}</option>
        {% endfor %}
    </select>
    <span class="error" id="error-región">Debe seleccionar una región.</span>
  </div>
<br>
  <div>
    <label class="form-label" for="comuna_id">(*)Comuna:</label><br>
    <select id="comuna_id" name="comuna_id">
        {% include 'comunas_options.html' %}
    </select>
    <span class="error" id="error-comuna">Debe seleccionar una comuna válida.</span>
  </div>
  <br>
  <button type="submit" id="envio">Registrarse</button>
</form>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/voluntarios.js') }}"></script>
{% endblock %}